body {
  background: linear-gradient(#54677ae5, #174774, rgba(5, 76, 124, 0.753));
  color: #fff;
}

.logo {
  height: 200px;
  margin-bottom: -42px;
  margin-top: -37px;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(img/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 772px;
  background: rgba(0, 0, 0, 0.6);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.7;
}

#home-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#share-section .fas {
  background: rgba(51, 51, 51, 0.623);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.card-body .animated {
  -ms-flex: 1 1 auto;
  flex: 18;
  padding: 1.25rem;
  margin-top: 40px;
}

.h1,
h1 {
  font-size: 81px;
  margin-bottom: 80px;
}

.btn {
  margin-top: 20px;
  display: block;
  font-size: 1.5rem;
}

button {
  margin: 13px;
  margin-left: 596px;
}

div.p-4.align-self-end {
  margin-bottom: 50px;
}

.p-4 {
  padding: 0.5rem !important;
}

p {
  max-width: 50%;
  display: inline-block;
}

.col-lg-4 {
  margin-top: 20px;
}

.bg-primary {
  background-color: #02448ad0 !important;
}

.text2 {
  max-width: 800px;
  font-size: 41px;
  padding: 20px;
  text-align: left;
  word-spacing: 7px;
}

.text-center {
  text-align: center !important;
}
